Package: penterep-tools
Version: 0.2
Section: security
Priority: optional
Architecture: all
Depends: python3-pip, python3-venv
Maintainer: Penterep <info@penterep.com>
Description: Penterep Script Management Tool (Debian version)
